<% include ../partials/header %>
<% include ../partials/navbar %>

<div class="container">
  <div class="row">
    <aside class="col-md-3">
      <header class="page-header">
        <h1>YelpCamp</h1>
      </header>

      <section id="category" class="list-group">
        <a href="#" class="list-group-item active">Category 1</a>
        <a href="#" class="list-group-item">Category 2</a>
        <a href="#" class="list-group-item">Category 3</a>
      </section>
    </aside>

    <main class="col-md-9">
      <section id="campInfo" class="thumbnail">
        <img src="<%= camp.image %>" alt="Campground Image" class="img-responsive">
        <div class="caption">
          <header>
            <span class="pull-right">$9.00/night</span>
            <h2><%= camp.name %> <small>Created by <%= camp.author.username %></small></h2>
          </header>

          <p><%= camp.description %></p>
        </div>
      </section>

      <section id="comments" class="thumbnail">
        <div class="caption">
          <header class="page-header">
            <h2>Comments:</h2>
          </header>

          <p>
            <a href="/campgrounds/<%= camp._id %>/comments/new" class="btn btn-primary">Add New Comment</a>
          </p>

          <% camp.comments.forEach(comment => {
            const text = comment.text;
            const author = comment.author.username; %>

            <div class="comments">
              <div>
                <span class="time pull-right">10 days ago</span>
                <h4><%= author %></h4>
              </div>
              
              <p><%= text %></p>  
            </div>
          <% }); %>
        </div>
      </section>
    </main>
  </div>
</div>

<% include ../partials/footer %>
