<% include partials/header %>
<% include partials/navbar %>

<div class="container">
  <h1><%= camp.name %></h1>
  <img src="<%= camp.image %>" alt="">
  <p><%= camp.description %></p>

  <ul>
    <% camp.comments.forEach(comment => {
      const text = comment.text;
      const author = comment.author; %>

      <li><%= text %> - <%= author %></li>
    <% }); %>
  </ul>
</div>

<% include partials/footer %>
